# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
data/*.csv
data/raw/*

# Models
models/*

# Python
__pycache__/
*.pyc

# Jupyter Checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env
